.container {
}

.heading {
  @apply font-thicboi font-medium;
  font-size: 28px;
}

.list-container {
  @apply mt-5;
}

.list {
  @apply grid grid-cols-4;
  gap: 30px;

  > li {
    @apply flex-none;
  }

  .card-link {
    @apply block h-full;
  }

  .card {
    @apply h-full;
  }
}

@media (max-width: 820px) {
  .heading {
    @apply text-base font-medium;
  }

  .list-container {
    @apply overflow-auto mt-1;
  }

  .list {
    @apply flex flex-row flex-nowrap gap-4;

    > li {
      width: calc(100% / 2 - 16px * 1 - 100% / 2 / 20);
    }
  }
}
