.contact-detail-header {
  @apply flex flex-row items-center gap-4 py-8 px-14 border-b border-solid;
  border-color: #afafaf;
}

.contact-detail-header-number {
  @apply font-thicboi text-xl font-normal w-10 h-10 border-2 border-aucto rounded-full flex items-center justify-center;
}

.contact-detail-header-content {
  @apply font-thicboi text-3xl font-normal;
}

@media (max-width: 820px) {
  .contact-detail-header{
    padding-left: 14px;
    @apply py-3;
  }

  .contact-detail-header-number {
    border-width: 1px;
    @apply font-normal font-thicboi text-xs w-6 h-6;
  }
  .contact-detail-header-content {
    @apply font-normal font-thicboi text-base;
  }

}