.container {
}

.heading {
  @apply font-thicboi font-medium;
  font-size: 28px;

  > a {
    @apply float-right text-lg flex items-center font-bold;

    &:hover {
      @apply text-blue-400;
    }

    > img {
      @apply inline-block ml-1;
    }
  }
}

.list-container {
  @apply mt-7;
}

.list {
  gap: 30px;
  @apply grid grid-cols-4;

  .card-link {
    @apply block h-full;
  }

  .card {
    @apply h-full;
  }
}
.see-all-products {
  width: 280px;
  @apply text-2xl font-medium mx-auto px-12 mt-14 #{!important};
}

@media (max-width: 820px) {
  .heading {
    @apply text-base;
    > a {
      @apply text-sm;
    }
  }

  .list-container {
    @apply mt-0 overflow-auto;
  }

  .list {
    @apply flex flex-row flex-nowrap gap-3;

    > li {
      @apply flex-none;
      width: calc(100% / 2 - 0.9rem * 1.5 / 2 - 100% / 2 / 15);
    }
  }

  .see-all-products {
    @apply text-lg px-3 w-44 h-7 font-medium #{!important};
  }
}
