.payment-page {
  @apply container mx-auto flex w-full py-14;
}

.checkout {
  @apply pr-10;
  width: calc(100% - 378px);
  .order-details-mobile {
    @apply hidden;
  }
  .heading {
    font-size: 32px;
    @apply font-thicboi font-semibold;
  }

  .checkout-details {
    @apply border border-solid;
    border-color: #afafaf;
    margin-top: 17px;
  }

  .checkout-button {
    @apply mt-8 px-10;
  }
}

.order-details {
  width: 378px;
}

@media (max-width: 820px) {
  .payment-page {
    @apply pl-7;
    @apply w-auto;
    .order-details {
      @apply hidden;
    }
  }
  .checkout {
    @apply w-full;
    .heading {
      font-size: 20px;
    }
    .checkout-details {
      @apply mt-1 mb-7;
    }

    .order-details-mobile {
      @apply inline;
    }
  }
}
