.container {
  @apply relative;

  > div:nth-of-type(2)::-webkit-scrollbar {
    display: none;
  }

  > div:nth-of-type(3) {
    @apply absolute left-0 bottom-5 p-0;

    > :global(.btn) {
      @apply h-3 w-3 rounded-full bg-white/50;
      @apply p-0 min-h-0 indent-96 overflow-hidden;

      &:global(.btn-active) {
        @apply bg-white;
      }
    }
  }
}

.gradient {
  @apply absolute top-0 left-0 w-full z-10;
  height: 92px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 35.94%,
    rgba(0, 0, 0, 0) 100%
  );

  .pre-order {
    @apply absolute left-4 top-4 text-lg text-white bg-aucto font-bold font-thicboi px-4;
  }
}
