.container {
  @apply border border-solid border-gray-400 cursor-pointer flex;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.image {
  @apply relative w-1/3 border-r border-solid border-gray-400;

  .pre-order {
    @apply absolute left-3 top-3 p-1 text-white bg-aucto text-base;
  }

  > img {
    @apply w-full;
  }
}

.details {
  @apply w-2/3 px-4 py-3 flex flex-col;

  .title {
    @apply text-lg font-bold flex-1;
  }

  .footer {
    @apply relative h-9;

    .old-price {
      @apply text-lg font-black line-through;
    }

    .posted-date {
      font-size: 10px;
    }

    .price {
      @apply absolute bottom-0 -right-5 text-white bg-aucto p-1 text-lg rounded-md w-24 text-center;
    }
  }
}

@media (max-width: 768px) {
  .container:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .image {
    .pre-order {
      @apply absolute left-1 top-1 leading-none;
      font-size: 8px;
    }
  }

  .details {
    @apply p-1;

    .title {
      @apply truncate;
      font-size: 10px;
    }

    .footer {
      .old-price {
        @apply mt-0;
        font-size: 15px;
      }

      .posted-date {
        font-size: 6px;
      }
    }
  }
}
