.container {
  @apply flex flex-col items-center px-20 py-14;
}

.logo {
  width: 200px;
}

.text-1 {
  @apply text-3xl font-semibold font-thicboi mt-3;
}

.text-2 {
  @apply text-base font-light font-thicboi text-center leading-4 mt-1;
  color: #858585;
}

.group-input {
  @apply w-full mt-9 text-4xl;

  input {
    @apply h-14 w-full px-6;
  }

  ::placeholder {
    @apply text-sm font-thin;
    color: rgba(37, 37, 37, 0.5);
  }

  .password {
    @apply mt-7 relative;
  }

  .visibilityIcon {
    top: 28px;
    @apply absolute right-4 transform -translate-y-1/2 cursor-pointer text-2xl;
  }

  .login-form-error-message {
    font-size: 14px;
    @apply text-red-700 font-thicboi mt-1;
  }
}

.register,
.as-guest {
  @apply font-thicboi text-lg font-light underline mt-10;
  color: #252525;
}

.as-guest {
  @apply mt-4;
}

.login-button {
  @apply text-2xl font-thicboi font-normal uppercase mt-8 #{!important};
  width: 274px;
}

@media (max-width: 820px) {
  .container {
    @apply px-14 py-8;
  }

  .logo {
    width: 140px;
  }

  .text-1 {
    @apply text-xl font-semibold font-thicboi mt-2;
  }

  .text-2 {
    @apply text-xs font-light font-thicboi text-center mt-0 leading-none;
    color: #858585;
  }

  .group-input {
    @apply w-full text-sm mt-5;

    input {
      @apply py-0 px-4 h-12;
    }

    ::placeholder {
      @apply text-sm font-thin;
      color: rgba(37, 37, 37, 0.5);
    }

    .password {
      @apply mt-6;
    }

    .visibilityIcon {
      top: 25px;
    }

    .login-form-error-message {
      font-size: 12px;
      margin-top: 3px;
      @apply text-red-700 font-thicboi;
    }
  }

  .register {
    @apply font-thicboi text-sm font-light underline mt-6;
    color: #252525;
  }

  .as-guest {
    color: #252525;
    @apply font-thicboi text-sm font-light underline mt-3;
  }

  .login-button {
    width: 204px;
    @apply font-normal text-lg font-thicboi py-0 h-9 mt-6 #{!important};
  }
}
