.product-seller-info {
  @apply flex flex-row items-center;
}

.avatar {
  @apply rounded-full;
  height: 50px;

  > img {
    @apply h-full;
  }
}

.details {
  @apply flex-1;
  padding-left: 14px;

  > div:first-child {
    @apply flex flex-row font-semibold;
    font-size: 20px;

    > img {
      @apply ml-1;
      width: 27px;
    }
  }

  > div:nth-child(2) {
    @apply font-semibold text-gray-500;
    font-size: 15px;
  }
}

.followers {
}

@media (max-width: 820px) {
  .avatar {
    @apply rounded-full;
    height: 35px;
  }

  .details {
    padding-left: 8px;

    > div:first-child {
      font-size: 16px;

      > img {
        width: 20px;
      }
    }

    > div:nth-child(2) {
      font-size: 12px;
    }
  }
}
