.product-seller-info {
  @apply flex flex-row items-center;
}

.avatar {
  @apply rounded-full overflow-hidden hidden;
  width: 50px;
  margin-right: 14px;

  > img {
    @apply w-full;
  }
}

.details {
  @apply flex-1;

  .name {
    @apply font-semibold text-xl;
  }

  .verified {
    @apply flex flex-row gap-1 items-center font-semibold text-sm text-gray-500;

    > img {
      width: 17px;
    }
  }
}

.followers {
}

@media (max-width: 820px) {
  .avatar {
    @apply mr-2;
    width: 35px;
  }

  .details {
    .name {
      @apply text-base;
    }

    .verified {
      @apply text-xs;

      > img {
        width: 13px;
      }
    }
  }
}
