.delivery-method-choose-collection {
  @apply mt-9 font-thicboi text-lg font-normal;
}

.delivery-method-choose-collection-radio {
  padding-left: 212px;
}

.delivery-method-choose-form {
  @apply pl-12 mt-4;

  > label {
    @apply flex-row-reverse justify-end;
    height: 30px;
    gap: 18px;

    &:not(:first-of-type) {
      @apply mt-2;
    }

    > input {
      @apply accent-aucto;
      height: 10px;
      width: 10px;
    }
  }
}

.delivery-method-information {
  margin-top: 42px;
  font-size: 18px;

  .insurance {
    @apply font-semibold mb-1;
  }
}

.delivery-method-information-contact {
  @apply underline;
}

@media (max-width: 768px) {
  .delivery-method-choose-collection {
    @apply mt-4 text-sm;
  }

  .delivery-method-choose-form {
    @apply mt-1 pl-8;

    > label {
      &:not(:first-of-type) {
        @apply mt-0;
      }
    }
  }

  .delivery-method-information {
    @apply text-xs mt-4;
  }
}
