.product-details-page {
  @apply container mx-auto py-10;
}

.product {
  @apply flex flex-row;

  .product-images {
    width: 55%;
  }

  .product-details {
    width: 45%;
    padding-left: 75px;

    > div:nth-child(2) {
      @apply flex flex-row justify-between mt-5;
    }

    > div:nth-child(3) {
      @apply mt-5;
    }

    > div:nth-child(4) {
      @apply mt-5;
    }
  }
}

.product-more-from-seller,
.product-pre-order,
.product-recently-added {
  @apply mt-10;
}

@media (max-width: 820px) {
  .product-details-page {
    @apply pt-0 pb-4;
  }

  .product {
    @apply flex-col;

    .product-images,
    .product-details {
      @apply w-full;
    }

    .product-details {
      @apply px-4 pt-4;

      > div:nth-child(2) {
        @apply mt-2;
      }
    }
  }

  .product-more-from-seller,
  .product-pre-order,
  .product-recently-added {
    @apply mt-4 px-4;
  }
}
