.seller-card {
  @apply flex flex-col justify-center items-center border border-solid border-gray-400 cursor-pointer relative pt-2;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.seller-avatar {
  @apply px-6 pt-8 pb-3;

  > img {
    @apply rounded-full;
  }
}

.seller-name {
  @apply flex flex-row gap-2 items-center pb-0 font-thicboi font-bold text-2xl;
}
.seller-follow {
  @apply font-lato font-semibold text-gray-400 mb-3;
  font-size: 11px;
}

.seller-more {
  @apply absolute top-0 left-0 pl-3 pt-2;
}

.seller-bookmark {
  @apply absolute right-0 font-thicboi font-extrabold text-xl text-white flex justify-center;
  top: -5px;
}
.seller-index {
  @apply absolute top-2 mx-auto;
}
