.checkout-page {
  @apply container mx-auto flex flex-wrap w-full py-10;
}

.checkout {
  @apply pr-10;
  width: calc(100% - 378px);

  .heading {
    font-size: 32px;
    @apply font-thicboi font-semibold;
  }

  .checkout-details {
    @apply border border-solid;
    border-color: #afafaf;
    margin-top: 17px;
  }
}

.order-details {
  width: 378px;
}

.controls {
  @apply w-full mt-10;

  .checkout-button {
    @apply mt-0 px-10;
  }

  .chat-button {
    @apply hidden;
  }
}

@media (max-width: 820px) {
  .checkout-page {
    @apply px-4 py-4;
  }

  .checkout {
    @apply pr-0 w-full;

    .heading {
      @apply text-xl;
    }

    .checkout-details {
      margin-top: 10px;
    }
  }

  .order-details {
    @apply w-full mt-4;

    > div:last-of-type {
      @apply hidden;
    }
  }

  .controls {
    @apply mt-4;

    .checkout-button {
      @apply w-full text-lg h-10 #{!important};
    }

    .chat-button {
      @apply flex mt-4 text-lg h-10;
    }
  }
}
