.product-card {
  @apply cursor-pointer flex flex-col;

  &:hover {
    @apply border border-solid border-gray-200;
  }
}

.header {
  @apply p-3 hidden;

  .product-seller-info {
    > div:first-of-type {
      @apply mr-3 hidden;
      width: 38px;
    }

    > div:nth-of-type(2) {
      > div:first-of-type {
        @apply leading-none;
        font-size: 15px;
      }

      > div:nth-of-type(2) {
        @apply leading-none mt-1;
        font-size: 10px;

        > img {
          width: 15px;
        }
      }
    }
  }
}

.content {
  @apply relative;

  .pre-order {
    @apply absolute left-3 top-3 p-1 text-white bg-aucto text-base;
  }

  .product-image {
    @apply w-auto object-cover m-auto;
    height: 240px;
  }
}

.footer {
  @apply p-5 grow flex flex-col;

  .product-title {
    font-size: 28px;
    @apply grow;
  }

  .product-posted-date {
    @apply font-lato;
    font-size: 14px;
  }

  .product-price {
    margin-top: 30px;
    font-size: 36px;
    @apply font-semibold;
  }
}

@media (max-width: 820px) {
  .product-card:hover {
    @apply border border-solid border-gray-200;
  }

  .header {
    @apply p-1;

    .product-seller-info {
      > div:first-of-type {
        @apply mr-1;
        width: 18px;
      }

      > div:last-of-type {
        > div:first-of-type {
          font-size: 8px;
        }

        > div:nth-of-type(2) {
          gap: 2px;
          font-size: 6px;

          > img {
            width: 8px;
          }
        }
      }
    }
  }

  .content {
    .pre-order {
      @apply absolute left-1 top-1 leading-none;
      font-size: 8px;
    }

    .product-image {
      height: 110px;
    }
  }

  .footer {
    @apply p-1;

    .product-title {
      @apply leading-normal text-base;
    }

    .product-posted-date {
      @apply hidden;
      font-size: 6px;
    }

    .product-price {
      @apply mt-5 text-lg;
    }
  }
}
