.product-card {
  @apply cursor-pointer flex flex-col hover:shadow-md hover:shadow-gray-300;
}

.header {
  @apply p-3;

  .product-seller-info {
    > div:first-of-type {
      @apply mr-3;
      width: 38px;
    }

    > div:nth-of-type(2) {
      > div:first-of-type {
        @apply leading-none;
        font-size: 15px;
      }

      > div:nth-of-type(2) {
        @apply leading-none mt-1;
        font-size: 10px;

        > img {
          width: 15px;
        }
      }
    }
  }
}

.content {
  @apply relative;

  .product-image {
    @apply w-auto object-cover m-auto p-4;
    height: 310px;
  }
}

.footer {
  @apply p-4 grow flex flex-col;

  .product-title {
    @apply grow text-2xl leading-7 font-medium;
  }

  .product-posted-date {
    @apply font-lato;
    font-size: 14px;
  }

  .product-price {
    @apply mt-4 xl:text-3xl lg:text-2xl md:text-xl flex gap-2;
  }
}

@media (max-width: 768px) {
  .header {
    @apply p-1;

    .product-seller-info {
      > div:first-of-type {
        @apply mr-1;
        width: 18px;
      }

      > div:last-of-type {
        > div:first-of-type {
          font-size: 8px;
        }

        > div:nth-of-type(2) {
          gap: 2px;
          font-size: 6px;

          > img {
            width: 8px;
          }
        }
      }
    }
  }

  .content {
    .product-image {
      height: 165px;
    }
  }

  .footer {
    @apply px-2 py-0;

    .product-title {
      @apply text-sm leading-4;
    }

    .product-posted-date {
      font-size: 6px;
    }

    .product-price {
      @apply mt-1 text-base leading-6;
    }
  }
}
