.header {
  @apply text-white bg-black;
}

.header-content {
  @apply container mx-auto relative flex items-center py-3 justify-between;
}

.logo {
  @apply block;

  img {
    @apply h-8;
  }
}

.navbar-right {
  @apply flex items-center font-medium text-lg gap-16;
}

.group-icon {
  @apply flex gap-16 relative;

  .item-number {
    right: -8px;
    bottom: -8px;
    background-color: #d90505;
    font-size: 8px;
    @apply absolute  rounded-full flex justify-center items-center w-3 h-3;
    span {
      @apply font-extrabold;
    }
  }
}

.icon-user,
.icon-card {
  @apply h-7;
}

@media (max-width: 768px) {
  .header-content {
    @apply px-4;
  }

  .logo {
    img {
      @apply h-6;
    }
  }

  .navbar-right {
    @apply gap-4 text-sm;
  }
  .group-icon {
    @apply gap-6;

    .item-number {
      font-size: 6px;
    }
  }

  .icon-user,
  .icon-card {
    @apply h-5;
  }
}
