.header {
  @apply relative flex items-center text-white bg-black p-4 justify-between pr-5;
}

.logo {
  @apply block;

  img {
    height: 30px;
  }
}

.navbar-right {
  @apply flex gap-12 font-bold text-2xl;
}
.icon-user {
  padding-top: 2px;
}

@media (max-width: 820px) {
  .header {
    @apply p-3;
  }

  .navbar-right {
    gap: 10px;
    @apply text-xs;
  }

  .browse {
    @apply hidden;
  }

  .icon-user {
    height: 16px;
  }

  .logo {
    img {
      height: 24px;
    }
  }
}
