.contact-detail-header {
  padding-top: 31px;
  padding-left: 59px;
  padding-bottom: 33.18px;
  border-bottom: 1px solid #afafaf;
  @apply flex flex-row items-center gap-4 relative;
}

.contact-detail-header-icon {
  > p {
    left: 73px;
    top: 36px;
    @apply absolute  text-xl;
  }
}

.contact-detail-header-content {
  @apply font-thicboi text-3xl font-normal;
}
