.products-container {
  @apply relative;

  :global(.control-dots) {
    z-index: 15;
  }
}

.gradient {
  @apply absolute w-full h-full z-10;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 55%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.products-button-left {
  @apply absolute h-full z-30 pl-20;

  > img {
    @apply w-16;
  }
}

.products-button-right {
  @apply absolute h-full z-30 pl-20 right-0 pr-20;

  > img {
    @apply w-16;
  }
}

.products-content {
  @apply absolute left-60 z-20;
  bottom: 70px;
}

.products-button {
  @apply hidden;

  > a {
    @apply font-thicboi text-xl font-bold bg-white rounded-lg px-6 leading-none hover:bg-aucto hover:text-white;
    padding-top: 11px;
    padding-bottom: 9px;
    height: 42px;
  }
}

.products-title {
  @apply text-white font-semibold text-4xl font-thicboi;
  line-height: 3.5rem;
  margin-top: 28px;
}
