.products-container {
  @apply relative;

  :global(.control-dots) {
    @apply my-6 hidden;
    z-index: 15;
  }
}

.gradient {
  @apply absolute w-full h-full top-0 hidden;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 55%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.products-button-left {
  @apply absolute z-30 pl-20 hidden;
  bottom: 50px;

  > img {
    @apply w-12;
  }
}

.products-button-right {
  @apply absolute z-30 pl-20 right-0 pr-20 hidden;
  bottom: 50px;

  > img {
    @apply w-12;
  }
}

.products-content {
  @apply absolute left-36 right-36 z-20 text-center;
  bottom: 60px;
}

.products-button {
  @apply hidden;

  > a {
    @apply font-thicboi text-xl font-bold bg-white rounded-lg px-6 leading-none hover:bg-aucto hover:text-white;
    padding-top: 11px;
    padding-bottom: 9px;
    height: 42px;
  }
}

.products-title {
  @apply text-white font-semibold text-4xl font-thicboi hidden;
  line-height: 3.5rem;
  margin-top: 28px;
}

@media (max-width: 820px) {
  .products-container {
    :global(.control-dots) {
      @apply my-3;
    }
  }

  .image-container {
    @apply relative;

    > img {
      @apply object-cover;
      height: 300px;
    }
  }

  .products-button-left,
  .products-button-right {
    @apply hidden;
  }

  .products-title {
    @apply text-xl;
  }

  .products-content {
    @apply left-4 right-4;
    bottom: 35px;
  }
}
