.payment-method-container {
  @apply px-14 font-thicboi pt-4 pb-12;
}

.description {
  @apply text-lg font-normal;
}

.note {
  @apply text-sm;
  color: #858585;
}

.form {
  @apply pl-9 mt-4;

  > label {
    @apply flex-row justify-start items-baseline;
    height: 30px;
    gap: 18px;

    &:not(:first-of-type) {
      @apply mt-2;
    }

    > input {
      @apply accent-aucto;
      height: 10px;
      width: 10px;
    }

    > span {
      @apply text-lg font-normal;

      > small {
        @apply text-sm leading-none block;
        color: #858585;
      }
    }
  }
}

@media (max-width: 820px) {
  .payment-method-container {
    @apply px-4 pt-3 pb-5;
  }

  .description {
    @apply text-sm;
  }

  .note {
    @apply leading-3;
    font-size: 10px;
  }

  .form {
    @apply pl-4;

    > label {
      &:not(:first-of-type) {
        @apply mt-0;
      }

      > span {
        @apply text-sm;

        > small {
          font-size: 10px;
        }
      }
    }
  }
}
