.footer {
  @apply relative w-full text-white bg-black;
  height: 70px;
}

.logo {
  @apply absolute left-0 bottom-0 h-full flex items-center;
  padding-left: 82px;

  img {
    height: 42px;
  }
}

.text {
  @apply h-full flex justify-center items-center font-medium;
  font-size: 20px;
}

@media (max-width: 820px) {
  .footer {
    @apply flex flex-col justify-center items-center;
    height: 100px;

    .logo {
      @apply static pl-0 block h-auto;
    }

    .text {
      @apply block h-auto mt-1;
      font-size: 13px;
    }
  }
}
