.container {
}

.selected-container {
  @apply relative;

  .image {
    @apply relative;
    width: calc(100% - 125px);

    .release-date,
    .order-date {
      @apply absolute text-xl text-white bg-aucto font-medium font-thicboi px-6 py-2 uppercase;
    }

    .release-date {
      @apply top-6 left-0;
    }

    .order-date {
      @apply bottom-8 right-0;
    }
  }

  .thumbnails-list-container {
    @apply absolute top-0 right-0 h-full flex flex-col flex-nowrap gap-4 overflow-y-auto;

    .thumbnail-container {
      @apply border border-2 cursor-pointer;

      &:hover,
      &.selected {
        @apply border-aucto;
      }

      .thumbnail {
        @apply object-cover;
        width: 105px;
        height: 105px;
      }
    }
  }
}
