.container {
}

.selected-container {
  @apply relative;

  .image {
    @apply relative;
    width: calc(100% - 125px);

    .gradient {
      @apply absolute top-0 left-0 w-full z-10;
      height: 112px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.45) 35.94%,
        rgba(0, 0, 0, 0) 100%
      );

      .pre-order {
        @apply absolute left-6 top-6 text-2xl text-white bg-aucto font-bold font-thicboi px-6 py-2;
      }
    }
  }

  .thumbnails-list-container {
    @apply absolute top-0 right-0 h-full flex flex-col flex-nowrap gap-4 overflow-y-auto;

    .thumbnail-container {
      @apply border border-2 cursor-pointer;

      &:hover,
      &.selected {
        @apply border-aucto;
      }

      .thumbnail {
        @apply object-cover;
        width: 105px;
        height: 105px;
      }
    }
  }
}
