.payment-status-page {
  @apply container mx-auto flex w-full pt-10;
  padding-bottom: 140px; // pb-10 + 70px
}

.payment-status {
  @apply pr-10;
  width: calc(100% - 378px);

  .heading {
    font-size: 32px;
    @apply font-thicboi font-semibold;
  }

  .description {
    @apply border border-solid p-8 font-thicboi mt-4 font-light text-lg;
  }

  .button {
    @apply mt-8;
    width: 375px;
  }
}

.order-details {
  width: 378px;

  > div:last-of-type {
    @apply hidden;
  }
}

.payment-status-page + :global(#footer) {
  @apply absolute bottom-0 w-full;
}

@media (max-width: 768px) {
  .payment-status-page {
    @apply flex flex-col w-full px-4 pt-4;
    padding-bottom: 116px; // mb-4 + 100px
  }

  .payment-status {
    @apply w-full pr-0;

    .heading {
      @apply text-xl;
    }

    .description {
      @apply text-sm p-4;
      margin-top: 10px;
    }

    .button {
      @apply hidden;
    }
  }

  .order-details {
    @apply w-full mt-4;

    > div:last-of-type {
      @apply block;

      > div:first-of-type {
        @apply hidden;
      }

      > a:last-of-type {
        @apply mt-4;
      }
    }
  }
}
