.container {
  @apply rounded-xl border border-solid p-8 border-gray-500;

  .row-1 {
    @apply flex flex-row gap-5;

    .col-1,
    .col-2 {
      @apply flex-1;

      .label {
        @apply font-light text-2xl;
      }

      .price {
        @apply mt-2 font-thicboi font-bold;
        font-size: 40px;
      }
    }
  }

  .row-2,
  .row-3 {
    @apply mt-4;

    .button {
      @apply w-full;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    @apply p-6;

    .row-1 {
      @apply gap-4;

      .col-1,
      .col-2 {
        .label {
          @apply leading-none;
          font-size: 16px;
        }

        .price {
          @apply mt-1;
          font-size: 30px;
        }
      }
    }

    .row-2,
    .row-3 {
      @apply mt-3;

      .button {
        font-size: 16px;
        height: 36px;
      }
    }
  }
}
