.container {
}

.heading {
  @apply font-thicboi font-bold;
  font-size: 26px;
  line-height: 32px;

  > strong {
    @apply font-bold text-aucto;
  }
}

.list-container {
  @apply mt-5 overflow-auto;
}

.list {
  @apply flex flex-row flex-nowrap gap-5;

  > li {
    @apply flex-none;
    width: calc(100% / 5 - 1.25rem * 4 / 5);
  }

  .card-link {
    @apply block h-full;
  }

  .card {
    @apply h-full;
  }
}

@media (max-width: 768px) {
  .heading {
    @apply text-lg;
  }

  .list-container {
    @apply mt-0;
  }

  .list {
    @apply gap-3;

    > li {
      width: calc(100% / 3 - 0.75rem * 2 / 3 - 100% / 3 / 15);
    }
  }
}
