.verify-email-page {
  @apply container mx-auto pt-20;
  padding-bottom: 150px; // pb-20 + 70px
}

.verify-email-form {
  @apply mx-auto;
  width: 540px;
  border: 1px solid #afafaf;
}

.verify-email-page + :global(#footer) {
  @apply absolute bottom-0 w-full;
}

@media (max-width: 768px) {
  .verify-email-page {
    @apply py-0;
    padding-bottom: 100px; // pb-0 + 100px
  }

  .verify-email-form {
    @apply w-full border-0;
  }
}
