.product-card {
  @apply border border-solid border-transparent cursor-pointer flex flex-col;

  &:hover {
    @apply border-gray-200;
  }
}

.release-date,
.order-date {
  @apply font-thicboi font-semibold text-2xl text-center bg-black text-white leading-7 uppercase;
}

.content {
  @apply relative;

  .product-image {
    @apply w-auto object-cover m-auto;
    height: 310px;
  }
}

.footer {
  @apply p-3 grow flex flex-col;

  .product-title {
    @apply grow leading-8;
    font-size: 28px;
  }

  .product-price {
    @apply mt-7 text-4xl font-semibold;
  }
}

@media (max-width: 820px) {
  .release-date,
  .order-date {
    @apply text-lg leading-6;
  }

  .content {
    .product-image {
      height: 165px;
    }
  }

  .footer {
    @apply p-2;

    .product-title {
      @apply text-base leading-5;
    }

    .product-price {
      @apply mt-3 text-lg leading-6;
    }
  }
}
