.product-card {
  @apply border border-solid border-transparent cursor-pointer flex flex-col;

  &:hover {
    @apply border-gray-200;
  }
}

.release-date,
.order-date {
  @apply font-thicboi font-semibold text-xl text-center bg-black text-white leading-normal uppercase;
}
.content {
  @apply relative;

  .product-image {
    @apply w-auto object-cover m-auto p-4;
    height: 310px;
  }
}

.footer {
  @apply p-4 grow flex flex-col;

  .product-title {
    @apply grow text-2xl leading-7 font-medium;
  }

  .product-price {
    @apply mt-2 xl:text-3xl lg:text-2xl md:text-xl flex gap-2;

    .old-price,
    .price {
      @apply font-semibold;
    }

    .old-price {
      @apply line-through;
      color: #858585;
    }
  }
}

@media (max-width: 820px) {
  .release-date,
  .order-date {
    @apply text-xs;
  }

  .content {
    .product-image {
      height: 165px;
    }
  }

  .footer {
    @apply px-2 py-0;

    .product-title {
      @apply text-sm leading-4;
    }

    .product-price {
      @apply mt-1 text-base leading-6 flex gap-2;
    }
  }
}
