.product-card {
  @apply border border-solid border-transparent cursor-pointer flex flex-col;

  &:hover {
    @apply border-gray-200;
  }
}

.release-date,
.order-date {
  @apply font-thicboi font-semibold text-xl text-center bg-black text-white leading-normal uppercase;
}
.content {
  @apply relative;

  .product-image {
    @apply w-auto object-cover m-auto;
    height: 310px;
  }
}

.footer {
  @apply p-3 grow flex flex-col;

  .product-title {
    @apply grow leading-8 text-2xl;
  }

  .product-price {
    font-size: 28px;
    @apply mt-5 flex gap-2;

    .old-price,
    .price {
      @apply font-semibold;
    }

    .old-price {
      @apply line-through;
      color: #858585;
    }
  }
}

@media (max-width: 820px) {
  .release-date,
  .order-date {
    @apply text-lg leading-6;
  }

  .content {
    .product-image {
      height: 165px;
    }
  }

  .footer {
    @apply p-2;

    .product-title {
      @apply text-sm leading-5;
    }

    .product-price {
      @apply mt-3 text-base leading-6 flex gap-2;
    }
  }
}
