.promotion-container {
  @apply relative w-full h-full;

  .background {
    height: 280px;
    @apply w-full;
  }

  .content {
    left: 100px;
    right: 100px;
    @apply absolute top-6 bg-white py-7 px-10 rounded-2xl;

    .title {
      font-size: 42px;
      @apply flex font-bold gap-3;

      span {
        color: #28a4da;
      }
    }
    .main {
      font-size: 26px;
      @apply mt-2 font-thicboi font-normal;
    }

    .footer {
      color: #28a4da;
      font-size: 22px;
      @apply mt-4 font-bold;

      &:hover {
        color: darkblue;
      }
    }
  }
}

@media (max-width: 820px) {
  .promotion-container {
    .background {
      @apply h-full;
    }
    .content {
      left: 20px;
      right: 20px;
      top: 15px;
      padding-left: 25px;
      @apply py-3 leading-6;
      .title {
        font-size: 22px;
        @apply flex flex-col font-semibold gap-0;
      }

      .main {
        @apply text-sm mt-2 font-normal;
      }

      .footer {
        @apply text-sm mt-1 font-bold;

        &:hover {
          color: darkblue;
        }
      }
    }
  }
}
