.container {
  @apply rounded-xl border border-solid p-8 border-gray-500;

  .price-container {
    .label {
      @apply font-light text-2xl;
    }

    .price {
      @apply mt-2 font-thicboi font-bold;
      font-size: 40px;
    }
  }

  .quantity-container {
    @apply flex items-center gap-8 mt-2;

    .label {
      @apply font-light text-2xl;
    }

    > div {
      @apply w-full flex items-center justify-between;
    }

    .available-quantity {
      @apply text-sm font-bold text-gray-400;
    }
  }

  .btn-buy-container,
  .btn-chat-container {
    @apply mt-4;

    .button {
      @apply w-full;
    }
  }
}

@media screen and (max-width: 820px) {
  .container {
    @apply p-6;

    .price-container {
      .label {
        @apply leading-none;
        font-size: 16px;
      }

      .price {
        @apply mt-1;
        font-size: 30px;
      }
    }

    .quantity-container {
      @apply gap-6 mt-1;

      .label {
        @apply leading-none;
        font-size: 16px;
      }

      .quantity {
        > button,
        > input {
          @apply h-7 text-sm;
        }

        > button {
          @apply w-7;
        }

        > input {
          @apply w-12;
        }
      }

      .available-quantity {
        @apply font-normal leading-none;
        font-size: 10px;
      }
    }

    .btn-buy-container,
    .btn-chat-container {
      @apply mt-3;

      .button {
        font-size: 16px;
        height: 36px;
      }
    }
  }
}
